.info-container {
  background: rgba($primaryColor, .9);
  height: 400px;
  width: 100vw;
  padding: 50px;
  color: $secondaryColor;

  * {
    color: inherit
  }

  @media(max-width: 900px) {
    & {
      padding: 40px;
      height: 500px;
    }
  }

  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
    position: relative;

    @media(max-width: 900px) {
      & {
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-columns: 100%;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      left: 50%;
      background-color: $secondaryColor;
      opacity: .3;

      @media(max-width: 900px) {
        & {
          display: none;
        }
      }
    }
  }
}

.info-group {
  &:nth-child(2n) {
    margin-left: 90px;

    @media(max-width: 1020px) {
      & {
        margin-left: 50px;
      }
    }

    @media(max-width: 900px) {
      & {
        margin-left: 0;
      }
    }
  }

  &_title {
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .2em;
    margin-bottom: 8px;
    font-weight: bold;

    @media(max-width: 500px) {
      & {
        font-size: .6em;
      }
    }
  }

  &_content {
    font-size: 1.8em;
    font-weight: bold;
    padding-right: 16px;

    @media(max-width: 500px) {
      & {
        font-size: 1.3em;
        padding-right: 0px;
      }
    }
  }
}

body.night {
  .info-container {
    color: $primaryColor;
    background: darken(rgba($secondaryColor, .8), 10);

    .container::after {
      background-color: $primaryColor;
    }
  }
}