@import 'vars','quote','clock-container','clock','info-container','info-toggle';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primaryColor;
}

body {
  font-family: $fontStack;
  font-size: 1.3em;
  overflow: hidden;
  position: relative;
  height: 100vh;


  @media (max-width: 1921px) {
    & {
      background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(images/bg-hd.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 1921px) and (max-width: 2561px)  {
    & {
      background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(images/bg-quad-hd.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 2561px) {
    & {
      background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(images/bg-ultra-hd.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &.open {
    main {
      top: -500px;
    }
  }

  &.night {
    @media (max-width: 1921px) {
      & {
        background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(images/night-bg-hd.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  
    @media (min-width: 1921px) and (max-width: 2561px)  {
      & {
        background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(images/night-bg-quad-hd.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  
    @media (min-width: 2561px) {
      & {
        background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(images/night-bg-ultra-hd.jpg);
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}



main {
  position: absolute;
  top: 0;
  transition: all .55s ease-out;
}

.container {
  width: 80vw;
  margin: 0 auto;

  @media (max-width: 1100px) {
    & {
      width: 85vw;
    }
  }

  @media (max-width: 730px) {
    & {
      width: 90vw;
    }
  }
}

.container_sb {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: 980px) {
    & {
      flex-direction: column;
    }    
  }
}

.small-vp-br {
  display: none;
  @media (max-width: 560px) {
    & {
      display: inline-block;
    }    
  }
}