.quote {
  &_content {
    display: inline-block;
    width: 30vw;
  }

  &_new-btn {
    vertical-align: top;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: .8em;
    padding-top: 3px;
    margin-left: 10px;
  }

  &_author {
    margin-top: 10px;
    font-weight: bold;
  }
}