.quote {
  margin-bottom: 60px;
}

.quote_content {
  display: inline-block;
  width: 30vw;
}

.quote_new-btn {
  vertical-align: top;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: .8em;
  padding-top: 3px;
  margin-left: 10px;
}

.quote_author {
  margin-top: 10px;
  font-weight: bold;
}

.clock-container {
  height: 100vh;
  padding: 70px;
}

.clock-container_inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clock {
  display: inline-block;
}

.clock_greeting {
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: .18em;
  width: 100%;
}

.clock_time {
  display: inline-block;
  font-size: 13.75em;
  font-weight: bold;
  line-height: 1.05em;
  letter-spacing: .02em;
}

.clock_timezone {
  display: inline-block;
  font-size: 2em;
}

.info-toggle {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  background-color: #f0f0f0;
  height: 60px;
  width: 160px;
  border-radius: 999px;
  margin-bottom: 30px;
}

.info-toggle_input {
  opacity: 0;
}

.info-toggle_input:checked ~ .info-toggle_label .info-toggle_label_circleBtn {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.info-toggle_input:checked ~ .info-toggle_label::before {
  content: 'less';
  letter-spacing: .25em;
  left: 25px;
}

.info-toggle_label {
  color: #3b3b3b;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.info-toggle_label:before {
  content: 'more';
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #3b3b3b;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25px;
  font-weight: bold;
  font-size: 1em;
}

.info-toggle_label_circleBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 44px;
  width: 44px;
  background-color: #3b3b3b;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.info-toggle_label_circleBtn_icon {
  height: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f0f0f0;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  overflow: hidden;
  position: relative;
}

main {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.container_sb {
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */